*{
    padding: 0px;
    margin: 0px;
  

}
body{
     background-color: black;
    color: aliceblue;
    text-align: center;

}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 9vmin;
    color: #3E5641;
    background-color:#ffffc7 ;


}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: green;
    color: antiquewhite;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191919;
    color: aliceblue;
    border-radius: 1rem;
    border: none;

}

#msg{
    color: rgb(0, 106, 0);
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}
.hide{
    display: none;

}
.x{
    color: rgb(200, 3, 3);

}
.o{
    color: rgb(3, 4, 0);
}